/* @override http://localhost:3000/stylesheets/application.css */

body {
	background-color: #f0f0f9;
}


#container {
	border: 1px solid #ddd;
	background: white;
	padding: 15px 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* @group Forms */

form.formtastic fieldset ol li { margin-bottom:1.5em; list-style:none }
form.formtastic label { display: block ;}
form.formtastic fieldset ol li p.inline-hints { color:#666; margin:0.5em 0 0 25%; }
form.formtastic fieldset ol li p.inline-errors { color:#cc0000; margin:0.5em 0 0 25%; }
form.formtastic fieldset ol li.boolean label { padding-left:25%; width:auto; }
form.formtastic fieldset ol li.boolean label input { margin:0 0.5em 0 0.2em; }

.string input { padding:5px }
textarea[rows] { height:auto }
button { float:none }

/* @end */

/* @group Tables */

td a {
	color: #444;
}

td.actions {
	font-size: 10px;
	width: 30px;
}


thead th {
	background: transparent none;
	border-bottom: 2px solid #8a8;
}

td.actions a { color: #777 }
td.actions a:hover { color: #333; text-decoration:underline }

td.destroy_link { width: 35px }
td.edit_link { width: 20px }

tr.updating td {
  color: #aaa;
  background-color: #eee;
}

tr .row_ajax_status {
  position: absolute;
  height: 20px;
  width: 300px;
  margin-left: -150px;
  line-height: 20px;
  left: 50%;
  color: #333;
  font-weight:bold;
  background: rgba(255, 255, 100, 0.7);
  z-index: 99;
  text-align: center;
  padding: 3px;
}

#sites tr {
  position: relative;
}

#sites td {
	border-bottom: 1px solid #fff;
}

#sites .success td {
  background-color: #dfd;
}

#sites .success.odd td {
  background-color: #cfc;
}


#sites .failure td {
  background-color: #fdd;
}

#sites .failure.odd td {
  background-color: #fcc;
}


/* @end */

