<% title "Sites" %>

<table id="sites">
  <thead>
    <tr>
      <th>Name</th>
      <th>Keystone (text searched for)</th>
      <th>Last Result</th>
      <th>Last Attempt</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @sites %>
  </tbody>
</table>

<p><%= link_to "New Site", new_site_path %></p>
